<div class = "hero">
  
</div>

<div class= "frosted">
    <h1>Chessmate</h1>
    <div class="hidden-md-down">
      <h2>A responsive chess app built with ruby on rails and javascript</h2>
    </div>
    <div class="game-index-button">
	     <%= link_to 'Find a Game', games_path, class: 'btn btn-primary button big' %>
    </div>
</div>
  
<br />
<br />

<div class="booyah-box col-10 offset-1">
  
<!-- 	<br />
	<br /> -->
<!-- 	<%= link_to 'Career Stats', '#', class: 'btn btn-primary button big' %> -->
<!-- 	<br />
	<br /> -->
<!-- 	<%= link_to 'About Us', '#', class: 'btn btn-primary button big' %> -->

<h2 class="available-games center">Available Games</h2>

  <div class="row col-10 offset-1">
     <div class="start-button">
	     <%= link_to 'Start Game', new_game_path, class: 'btn btn-primary button big' %>
      </div>
  </div>
  
<br>

<div class="row col-10 offset-1">
  <div class="games-list">
    <% @games.each do |game| %>
      <p><%= game.name %><%= link_to 'Join', game_path(game) # first route to modal, then to game %></p>
    <% end %>
  </div>
</div>

<br />
<br />