<div class='form-box '>
  <h2>Sign up</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  
      <div class='form-input'>
        <%= f.label :email, class: 'form-labels' %><br>
        <%= f.email_field :email, placeholder: 'example@domain.com', class: 'input-field', autofocus: true %><br>
  
        <%= f.label :password, class: 'form-labels' %><br>
        <% if @minimum_password_length %>
        <em class='min-password'>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br>
        <%= f.password_field :password, placeholder: '******', autocomplete: "off" %>
        <br>

        <%= f.label :password_confirmation, class: 'form-labels' %><br />
        <%= f.password_field :password_confirmation, placeholder: '******', autocomplete: "off" %>
      </div>
  
    <div class="action-btn">
      <%= f.submit "Sign up", class: 'submit-btn' %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>