<div class="booyah-box col-10 offset-1">
    <h2 class="center">AVAILABLE GAMES</h2> 
    <div class="start-button center">
	    <%= link_to 'Start Game', new_game_path, class: 'btn btn-primary button big' %>
    </div>
    <div class="row col-10 offset-1">
      <div class="games-list">
        <% @games.each do |game| %>
          <p><%= game.name %>
            <% if game.black_id && game.black_id > 0 && game.white_id && game.white_id > 0 %>
              <%= game.black_id.email %> vs. <%= game.white_id.email %>
            <% else %> 
              <%= link_to 'Join', game_join_path(game), method: :put %></p>
            <% end %> 
        <% end %>
      </div>
    </div>
</div>