<div class= "booyah-box">
  <div class="center">
    <h3>Game Show Page</h3>
    <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
  </div>

    <div class="board-container">
        <table id="board">
        <% 8.times.each do |row| %>
          <tr id="row">
            <% 8.times.each do |col| %>
              <% piece = @game.pieces.where(position_x: col, position_y: row).first %>
              <% if piece.present? %>
                <td class="<%= piece.color %>_<%= piece.type %>" data-piece_id="<%= piece %>" data-piece_name="<%= piece.color %>_<%= piece.type %>">
                  <% image = "#{piece.color}_#{piece.type}.png" %>
                  <%= image_tag image %>
                </td>
              <% else %>
                <td></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>