<h3>Game Show Page</h3>
<%= link_to 'Home', root_path, class: 'btn btn-primary' %>


<div class="board-container">
    <table id="board" style="width: 100%, height: auto">
    <% 8.times.each do |row| %>
      <tr id="row">
        <% 8.times.each do |col| %>
          <% piece = @game.pieces.where(position_x: col, position_y: row).first %>
          <% if piece.present? %>
            <td id="<%= piece.color %><%= piece.type %>" data-piece_id="<%= piece %>" data-piece_name="<%= piece.type %>">
              <%= piece.position_x %>, <%= piece.position_y %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>